<form method="POST" action="/new">
    <input type="text" placeholder="Author name" name="user">
    <input type="text" placeholder="Your message" name="text">
    <button type="submit">Submit</button>
</form>